while warunek_logiczny
#to wszystko wykonuje się
#do momentu, gdy warunek=True

zadanie: wyświetl wszystkie potęgi 2 od $2^0$ aż po $2^100$

In [10]:
licznik = 0
while licznik <= 5:
    print("2 do", licznik,"=", 2 ** licznik)
    licznik = licznik+1

2 do 0 = 1
2 do 1 = 2
2 do 2 = 4
2 do 3 = 8
2 do 4 = 16
2 do 5 = 32

In [11]:
# można tez zapisać 
# licznik=licznik=1
#jako licznik +=1

wszystkie liczby z przedziału <0;100>, które są podzielne przez 2 lub przez 3

In [1]:
liczba = 0
while liczba <= 100:
    print(liczba)
    liczba +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
dobre_haslo = 'marakuja'
tajna_wiadomosc = 'smiechom nie bylo konca'

haslo = input("podaj hasło")

if haslo == dobre_haslo:
    print(tajna_wiadomosc)
else:
    print("zle haslo lamusie")

podaj hasło jbvoiehrvlik

zle haslo lamusie

In [6]:
liczba = 0

while liczba <= 100:
    if liczba % 2 == 0:
        print(liczba)
    liczba +=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
dobre_haslo = 'marakuja'
tajna_wiadomosc = 'smiechom nie bylo konca'

haslo = input("podaj hasło")

while haslo != dobre_haslo :
    print("zle haslo")
    haslo = input("podaj hasło")
print(tajna_wiadomosc)

podaj hasło jlcnejl

zle haslo

podaj hasło marakuja

smiechom nie bylo konca

In [15]:
imiona = ["Ania", "Basia", "Kasia", "Zosia", "Czesia"]

In [16]:
imiona [1:4]

['Basia', 'Kasia', 'Zosia']

In [18]:
for i in imiona:
    print( i + " Nowak")

Ania Nowak
Basia Nowak
Kasia Nowak
Zosia Nowak
Czesia Nowak

In [24]:
imiona_nazwiska = []

for i in imiona:
    imiona_nazwiska.append(i + " Nowak")

In [25]:
imiona_nazwiska

['Ania Nowak', 'Basia Nowak', 'Kasia Nowak', 'Zosia Nowak', 'Czesia Nowak']

In [28]:
imiona = ["Ania", "Basia", "Kasia", "Zosia", "Czesia"]

dlugosci = []

for i in imiona:
    dlugosci.append(len(i))
dlugosc

[4, 5, 5, 5, 6]

In [27]:
sum(dlugosc) / len(dlugosc)

5.0

In [29]:
nazwisko = "Brzęczyszczykiewicz"

In [30]:
nazwisko[3:10]

'ęczyszc'

In [32]:
licznik = 0
for literka in nazwisko:
    if literka == "z":
        licznik +=1
licznik

5